// Text colors
$text-question: #4a4b5e;
$text: #1d1e35;
$text-hover: #f47c57;
$text-answer: #787887;

// Background gradient
$gradient-purple: #af67e9;
$gradient-blue: #6565e7;
$dividers-line: #e7e7e9;
